{% extends 'base.html' %}

{% block content %}
<div class="pagetext">
    <div class="bigtext container text-secondary pt-3 pb-3">
        <h1>Unlock the power of personal connection: A stellar "About Us" page builds trust and loyalty, making your restaurant stand out.</h1>
    </div>

    
    <div class="peratext container m-5">

        <p>From intimate dinners to celebratory gatherings, our restaurant offers a welcoming ambiance that sets the stage for memorable moments with friends and family.
            We pride ourselves on delivering exceptional service, ensuring every guest feels valued and cared for from the moment they step through our doors.Sustainability is at the heart of our ethos, driving us to minimize our environmental footprint and support local farmers and producers whenever possible.
            Whether you're craving classic favorites or eager to explore bold new flavors, our diverse menu has something to satisfy every palate and occasion.</p>

    </div>
    <ul class="list-unstyled">
        <h4>SEO powerhouse</h4>
        <li>Are you passionate about local ingredients, sustainability, or a specific cuisine?
        </li>
        <li> Let your values shine through.</li>
        <li>Structurally, it's still a list.</li>
        <li>Our website is mobile-friendly.</li>
        <li> Here are the main ones you should place through your text:
          <ul>
            <li>Restaurant location</li>
            <li>Restaurant cuisine</li>
            <li>Popular types of foods We serve</li>
          </ul>
        </li>
        <li>if done right, it will help you rank higher.</li>
      </ul>
  
</div>
{% endblock %}

 